# Core
/wp-admin/
/wp-content/index.php
/wp-content/ai1wm-backups/
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/*
/wp-content/backup-db/*
/wp-content/advanced-cache.php
/wp-content/wp-cache-config.php
/wp-content/cache/*
/wp-content/cache/supercache/*
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
/wp-config.php

# Themes and Plugins
/wp-content/themes/*
/wp-content/plugins/*
/wp-content/mu-plugins/*
!wp-content/themes/ollie/
!wp-content/plugins/destination-heading
!wp-content/plugins/faq-accordion

# Log files
*.log
*.sql
*.sqlite
.DS_Store
fsestudio-data.json

# htaccess
.htaccess

# WP Engine
.wpe-devkit/
.wpe-pull-ignore
.wpe-push-ignore
.wpengine-conf/
_wpeprivate/

# Local
local-xdebuginfo.php
favicon.ico
apple-touch-icon.png
apple-touch-icon-precomposed.png

# Other
.tmb
.DS_Store
node_modules